<!DOCTYPE html>
<html>
  <head>
    <title>LOGIN</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1><%= error.status %> <%= message %></h1>
      <pre><%= error.stack %></pre>
    </div>
  </body>
</html>
